/* . is line number in Pseudocode Calculator */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .17 Style div calculator*/
#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1C1C1C;
    padding: 40px 5px 5px 5px;
    width: 400px;
    max-width: 400px;

}

/* .20 Style Display */
#display {
    background-color: #505050;
    color: white;
    text-align: right;
    font-size: 90px;
    width: 100%;
    box-sizing: border-box;
}

/* .15 Arrange buttons in Grid */
#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 8px;
}

/* .16 Stle Buttons */
#buttons button {
    background-color: #505050;
    color: white;
    font-size: 36px;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: none;
}

/* .19 Style buttons on hover and click */
#buttons button:hover {
    opacity: 70%;
}
#buttons button:active {
    opacity: 90%;
}