/* . is line number in Pseudocode Calculator */
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.container {
    margin: 10vh auto;
    width: 500px;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    background-color: #272727;
}

.header {
    margin: 2rem;
    color: #666;
}

input {
    width: 370px;
    padding: 0.5rem 2rem;
    font-size: 3rem;
    border-radius: 10px;
    text-align: right;
    background-color: #272727;
    color: lightgray;
}

.buttons {
    margin: auto;
    width: 450px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    justify-content: center;
}

button {
    padding: 40px;
    font-size: 20px;
    margin: 0.5rem;
    max-width: 100px;
    max-height: 100px;
    text-align: center;
    border-radius: 10%;
    font-weight: 900;
    background-color: #272727;
    color: lightgray;
}