/* . is line number in Pseudocode Calculator */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    border: 1px solid #ccc;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
     width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 3rem;
    height: 80px;
    border: none;
    background-color: transparent;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

button {

    height: 60px;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    color: #f8f8f8;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

button:active {
        background-color: rgba(186, 186, 186, 0.4);
}

.clearDisplay:hover {
    background-color: rgba(241, 115, 119, 0.4);
}

.operator {
    background-color: rgba(255, 165, 0, 0.4);    
}

.equalSign {
    width: 100%;
    grid-area: 5/ 3/ 5 /5
}

.equalSign:hover {
   background-color: rgba(78, 159, 212, 0.4);
}
