/* . is line number in Pseudocode Calculator */

/* .17 */
#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1C1C1C;
    width: 400px;
    max-width: 400px;

}

/* .15 */
#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 8px;
}

/* .16 */
#buttons button {
    background-color: #505050;
    color: white;
    font-size: 36px;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: none;
}